.benefits {
  @media screen and(max-width:480px) {
    padding: 60px 0;
  }

  .benefits__list {
    @media screen and(min-width:768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
    @media screen and(min-width:1200px) {
      padding-bottom: 47px;
    }
  }

  .benefits__item {
    @media screen and(max-width:767px) {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    @media screen and(min-width:768px) {
      flex-basis: 354px;
    }

    @media screen and(min-width:1200px) {
      flex-basis: 270px;
    }
  }

  .benefits__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    height: 120px;

    background-color: #f5f4fa;
    border-radius: 4px;
  }

  .benefits__header {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var(--secondary-colour);
    margin-bottom: 10px;
    text-align: center;
    @media screen and(min-width:768px) {
      text-align: left;
    }
  }
  .benefits__mean {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--tertiary-colour);
  }
}
